<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <form method='POST' action='/'>
            {% csrf_token %}
            {{form.title}}
            <input type="submit" name = "Create task">
        </form>

        {% for task in tasks %}

            {% if task.complate == True %}
            <strike>{{task}}</strike>
            {% else %}
            <span>{{task}}</span>
            {% endif %}  

            <a href="{% url "update_page" task.id %}">Update</a>
            <a href="{% url "delete_page" task.id %}">Delete</a>
            
            <br>
        {% endfor %}
    </div>    
</body>
</html>